<link rel="stylesheet" href="css/about.css">

<h1>Perfil</h1>

<div class="summary-description">
    <p>Ingeniero de Sistemas e Inform치tica, titulado con m치s 4 a침os de experiencia en desarrollo de software,
        experto en Javascript y conocimiento amplio en bases de datos y servidores node.js, y golang.
    </p>
</div>

<h1>Habilidades</h1>

<h3>- Programacion</h3>

<div class="summary-description-list">
    <ul>
        <li>Javascript</li>
        <li>Mysql</li>
        <li>MongoDB</li>
        <li>Docker</li>
        <li>AWS | S3 | RDS | EC2 | Lightsail</li>
        <li>Golang</li>
        <li>Python</li>
        <li>Java</li>
    </ul>
    <ul>
        <li>Angular</li>
        <li>React.js</li>
        <li>Css</li>
        <li>Html</li>
        <li>Tensorflow</li>
        <li>Redes Neuronales Convolucionales</li>
        <li>Scrum</li>
        <li>XP</li>
    </ul>
</div>

<h3>- Otros</h3>

<div class="summary-description-list">
    <ul>
        <li>Patrones de dise침o</li>
        <li>Documentacion con Swagger</li>
        <li>Postman</li>
        <li>Pruebas unitarias</li>
    </ul>
    <ul>
        <li>Integracion con  MT4</li>
        <li>Integracion con  MATCHTRADE</li>
        <li>Protocolo FIX API</li>
    </ul>
</div>